<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proof-of-Humanity</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Mono:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1-rc.2/web3.min.js"
      integrity="sha512-KURAVUCRxZKDemghhiNqTnYzVPUtO3GYznBZRWRBT2GJJ5PmePAxfO7QMGCM8xUJ0QfrUYJDrtRJM4L4NOtfow=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <script src="script.js" type="module" defer></script>
    <script src="https://js.hcaptcha.com/1/api.js" defer></script>
  </head>
  <body>
    <div id="root">
      <div class="header">
        <h1>Proof-of-Humanity</h1>
      </div>
      <div id="connect-wallet">
        <button type="button" id="connect-wallet-button"><span class="text-accent">Connect wallet</span></button>
      </div>
      <div id="main" class="hidden">
        <div class="wallet-info">
          Address: <span id="wallet-address"></span>
          <div id="chain-error" class="error-block hidden">
            Please switch network to <span id="chain" class="text-accent"><%=chainId%></span> and reload the page
          </div>
        </div>
        <form id="form">
          <h4>1. Confirm address ownership</h4>
          <div id="ownership-confirmation" class="line">
            <button type="button" id="confirm-ownership-button">
              Confirm ownership
            </button>
            <div class="comment">by signing a random piece of data</div>
          </div>
          <div id="ownership-confirmation-success" class="confirmation hidden">
            <img src="checkmark.png" alt="Checkmark" class="checkmark" />
            <span>Confirmation signed</span>
          </div>
          <h4>2. Confirm humanity</h4>
          <div id="humanity-confirmation">
            <div class="h-captcha" data-sitekey="<%=hcaptchaToken%>"></div>
          </div>
          <h4>3. Submit</h4>
          <div id="submission" class="line">
            <button type="submit">Sumbit evidence</button>
            <img id="spinner" class="spinner hidden" src="spinner.gif" alt="Spinner" width="16" height="16">
            <div id="submission-error" class="error-message"></div>
          </div>
          <div id="submission-success" class="confirmation hidden">
            <img src="checkmark.png" alt="Checkmark" class="checkmark" />
            <span>Evidence submitted <span id="submission-time"></span></span>
          </div>
        </form>
        <div id="tip" class="tip hidden">
          <div class="text-accent">What next</div>
          <div>Validate evidence for any address<br>or transaction sender: <a href="https://proof-of-humanity-core-ui.glitch.me/">Proof-of-Humanity Core UI</a></div>
        </div>
      </div>
      <div class="contract-details">
        <div>
          Delegate address: <span id="delegate-address"><%=delegateAddress%></span>
        </div>
        <div>Core contract: <span id="core-address"><%=coreAddress%></span></div>
      </div>
      <div class="footer">
        <div>
          Source code:
          <span class="footer-link">
            <a href="https://glitch.com/edit/#!/proof-of-humanity-delegate">Glitch</a>
          </span class="footer-link">
          <span>
            <a href="https://github.com/bakoushin/proof-of-humanity-delegate">Github</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
